@model AppFluxoDeCaixa.Models.Clientes

@{
    ViewData["Title"] = "Deletar Cliente";
}

<h1 class="display-5 text-light text-center">Deletar cadastro do Cliente</h1>

<h3 class="mt-3 mb">Deseja excluir esse cadastro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientesNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientesNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Model.Email)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascFundacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascFundacao)
        </dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientesId" />
        <input type="submit" value="Escluir" class="btn btn-danger" /> |
        <a class="btn-outline-secondary" asp-action="Index">Cancelar</a>
    </form>
</div>
